

/*###################################### MIXTURE ######################################*/

.snpsnap_new_feature {
  /*color: #FF6666;*/ /*orange*/
  color: #B232B2;
  background: rgba(232, 207, 44, 0.5); /*yellow*/
  /*background: rgba(54, 25, 25, .5);*/
  /*background-color: #00ff00;*/
  /*opacity: 0.1;*/
}


/* ########################################## Index.html ########################################## */

.scrollable_news {
    height: 300px !important;
    overflow: scroll;
}

.jumbotron_snpsnap {
  padding: 5px;
  margin-bottom: 5px;
  color: inherit;
  background-color: #eee;
  text-align: center;
  /*max-width: 100%;*/
}


/*.panel-title_snpsnap_important {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}*/

/* ######################################################################################### */


/*SNPsnap project font*/
/*You need to include Google fonts:*/
/*<link href="http://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type="text/css">*/

.graybox {
	background-color: #b0c4de;
	border-bottom: 1px solid #e5e5e5;
	padding: 14px 24px;
	border-radius: 15px;
}

h1.allerta {
		font-family: 'Allerta', Helvetica, Arial, sans-serif;
		font-size: 40px;
		line-height: 40px;
}

/*Defined to set the minimum hights of the Broad logo */
/*Use together with "img-responsive"*/
.min-limits {
  min-height: 40px;
  min-width: 40px;
  max-height: 70px;
  max-width: 400px;
}

.footer_min_limits {
  min-height: 30px;
  min-width: 30px;
  max-height: 40px;
  max-width: 40px;
}

/*.snpsnap-header-link {
  color: Black;
  text-decoration: none;
}
.snpsnap-header-link a:hover,
.snpsnap-header-link a:focus {
    color: Black;
}*/



/*LightGray D3D3D3*/
/*LightSteelBlue*/
/*DeepSkyBlue*/
/*Lavender*/
/*Snow*/

.input_box {
  /*background-color: #b0c4de;*/
  /*background-color: WhiteSmoke;*/
  background-color: #eee;
  /*background-color: LightSteelBlue;*/
  border-bottom: 1px solid #e5e5e5;
  padding: 14px 24px;
  border-radius: 5px;
}

.input_box_heading1 {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #c0c0c0;

  /*border-bottom: 1px solid #e5e5e5;*/
/*  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;*/
}


/*NOT USED YET - This is for adding a red asterisk after required fields*/
/*See more at: http://stackoverflow.com/questions/23141854/adding-asterisk-to-required-fields-in-bootstrap-3*/
.form-group.required.control-label:after {
  content:"*";color:red;
}


.margin_bottom0 { margin-bottom:0px; }
.margin_bottom5 { margin-bottom:5px; }
.margin_bottom10 { margin-bottom:10px; }

.margin_top0 { margin-top:0px; }
.margin_top5 { margin-top:5px; }
.margin_top10 { margin-top:10px; }

/*My own class "copied" from Bootstrap 3 "label" - use this for input labels that are NOT "true" labels*/
.label_text {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}


/*######### FILE UPLOAD BOTTON #############*/
/* FROM: http://www.surrealcms.com/blog/whipping-file-inputs-into-shape-with-bootstrap-3*/
/* Found the above link at: http://stackoverflow.com/a/18164555*/
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

#text_filename {
  background-color: white;
}

/*#################################*/


/*Overwriting Bootstrap TOOLTIP CSS*/
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  /*background-color: #C0C0C0;*/
  border-radius: 4px;

  /*Things added by Pascal*/
  min-width: 300px;
  font-size: 14px;
}


/* ########################################## FAQ ########################################## */

dt.faq_question {
  margin-top: 10px;
  font-style: italic;
  /*font-weight: bold;*/
  font-weight: normal;
}

dt.faq_question:before {
   content: "Q: ";
   font-weight: bold;
}

dd.faq_answer {
  font-weight: normal;
}

dd.faq_answer:before {
   content: "A: ";
   font-weight: bold;
}

/* ########################################## DOCUMENTATION ########################################## */

/*.dl-horizontal dd{
    margin-left: 0;
    margin-bottom: 1em;
}

.dl-horizontal dt{
    margin-left: 0 !important;
    text-align: left;
    margin-bottom: 1em;
    width: auto;
    padding-right: 1em;
}*/

/*THIS IS NOT USED - EXPERIMENT 2015 March*/
/*.pre-scrollable_snpsnap {
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  max-height: 100px;
  overflow-y: scroll;
}
*/

/* This class is intended to use for removing the style from the links in the documentation header */
a.documentation_header_link {
  text-decoration: inherit !important;
  color: inherit !important;
}



/*Copied from Bootstrap legend CSS - edited and added text-decoration and color to REMOVE the 'link formatting'*/
.documentation_header {
/*  text-decoration: inherit !important;
  color: inherit !important;*/
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 2px solid #e5e5e5;
}

.documentation_important {
  color: red;
}


/* ??? */
.code_output {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  border-radius: 3px;
}

/* Used to format columns */
.code_column {
  color: black;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

/* Used to format output-files */
.code_files {
  padding: 2px 4px;
  color: DarkCyan;
  white-space: nowrap;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  border-radius: 3px;
}

/* Used to format SNPsnap user settings. That is, the values entered in the match_snps formula */
.code_settings {
  padding: 2px 2px;
  /*color: #580000 ;*/ 
  /*color: #3333CC ;*/
  color: #FF7F3B ;
  /*text-decoration: underline;*/
}


/*############################# Jquery Validator ####################################*/
/*From: http://stackoverflow.com/questions/14889103/jquery-validation-plugin-display-success-fail-images-next-to-password/14900826#14900826*/
/*http://jsfiddle.net/jtmDY/*/
/*background:url("http://jquery.bassistance.de/validate/demo/images/unchecked.gif") no-repeat 0px 0px;
    padding-left: 16px;
}
background:url("http://jquery.bassistance.de/validate/demo/images/checked.gif") no-repeat 0px 0px;
    padding-left: 16px;
}*/


/*http://stackoverflow.com/questions/15836465/how-to-add-erroricon-and-custom-validation-message-using-jquery*/
/*By default, the error message is put inside a label which is an inline element.*/

/*REMEMBER: these classes inherrit from the Bootstrap label class*/
/* Styles correspond to the labels generated by the Validate Plugin */
/*http://alittlecode.com/wp-content/uploads/jQuery-Validate-Demo/index.html*/
label.valid {
  width: 24px;
  height: 24px;
  /*background: url(assets/img/valid.png) center center no-repeat;*/
  /*glyphicon glyphicon-ok*/
  font-weight: normal;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: normal;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
/*############################################################################*/


/*###################################### POTENTIAL stuff ######################################*/

/*.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
*/







/*##########################################################################*/
